@media screen and (max-width: 1368px) {
    #home-page .container h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1080px) {
    #home-page .box-about h3 {
        font-size: 20px;
    }
    #home-page .box-about p {
        font-size: 12px;
    }
}

@media screen and (max-width: 997px) {
    #navbar-fixed .container .box-icon {
        display: flex;
        visibility: visible;
    }
    #navbar-fixed .container nav ul li #close {
        display: flex;
    }
    #navbar-fixed .container nav ul {
        position: fixed;
        right: -30rem;
        top: 0;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out .3s;
        flex-direction: column;
    }
    #navbar-fixed .container nav ul.active {
        position: fixed;
        right: -30rem;
        top: 0;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease-in-out .3s;
        flex-direction: column;
    }
    #navbar-fixed .container nav ul.active {
        right: 0;
        transition: ease-in-out .3s;
    }
    #navbar-fixed .container nav ul li a {
        color: #222222;
    }
    #navbar-fixed .container nav ul li button {
        border: 3px solid #222222;
        color: #222222;
    }
    #home-page .container .name {
        font-size: 60px;
    }
    #home-page .box-about {
        width: 300px;
    }
    #home-page .box-about h3 {
        font-size: 12px;
    }
    #home-page .box-about p {
        font-size: 10px;
    }
    #home-page .social-medias {
        position: absolute;
        left: 50px;
        top: inherit;
        bottom: 0;
    }
    #home-page .social-medias ul {
        display: flex;
    }
    #home-page .social-medias ul li {
        margin: 0 10px;
    }
    #home-page .box-settings {
        top: inherit;
        top: 20%;
    }
    #navbar-fixed .container h1 {
        font-size: 30px;
    }
    #landing-services .container .box-services .services h2 {
        font-size: 30px;
    }
    .titles {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }
    .subtitles {
        font-size: 14px;
    }
    #landing-works .container .box-works {
        margin: 0;
    }
    #landing-technology .feedback {
        font-size: 20px;
    }
    main .container input {
        width: 400px;
    }
}

@media screen and (max-width: 650px) {
    #home-page .container .name {
        font-size: 30px;
    }
    #home-page .container .name::after {
        left: -1rem;
    }
    #home-page .container .name span {
        margin-left: 5rem;
    }
    #home-page .box-settings {
        width: 200px;
        height: 60px;
    }
    #home-page .box-about {
        width: 250px;
        bottom: 10%;
    }
    #navbar-fixed .container h1 {
        font-size: 20px;
    }
    #navbar-fixed .container .box-icon {
        width: 40px;
        height: 40px;
    }
    #landing-services .container .box-services .services p {
        font-size: 15px;
    }
    #landing-services .box-doubt-services {
        top: 35px;
        left: 30px;
    }
    #landing-services .box-doubt-services i {
        font-size: 20px;
    }
    #landing-services .modal-doubt.active {
        left: 50px;
        top: 50px;
        padding: 10px;
    }
    #landing-services .modal-doubt ul li a {
        font-size: 10px;
    }
    #landing-works .container .box-works {
        margin-top: 0px;
    }
    #landing-works .container .box-works img {
        width: 250px;
        border-radius: 20px;
        box-shadow: 10px 10px 1px rgb(0 0 0 / 25%);
    }
    #landing-technology .feedback.active {
        left: 100px;
    }
    #landing-technology .box-technologys h1 {
        font-size: 20px;
    }
    #landing-technology .userFeedback {
        position: absolute;
        top: 50px;
        left: 50px;
        z-index: 2;
    }
    #landing-technology .modal-feedback {
        width: 250px;
        padding: 7px;
    }
    #landing-technology .modal-feedback.active {
        left: 50%;
        transform: translateX(-50%);
    }
    #landing-technology .container .box-technologys .bar {
        width: 150px;
    }
    #landing-technology .userFeedback i {
        font-size: 20px;
    }
    #landing-technology .modal-feedback {
        width: 150px;
    }
    #landing-technology .modal-feedback h3 {
        font-size: 10px;
    }
    #landing-technology .modal-feedback i {
        font-size: 20px;
    }
    #landing-technology .feedback {
        font-size: 9px;
    }
    #landing-technology .feedback.active {
        left: 50px;
    }
}

@media screen and (max-width: 400px) {
    #landing-technology .userFeedback {
        position: absolute;
        top: 50px;
        left: 30px;
        z-index: 2;
    }
    #landing-technology .container .box-technologys .bar {
        width: 80px;
    }
    #landing-technology .box-technologys h1 {
        font-size: 15px;
    }
    main .container input {
        width: 250px;
    }
    main .container button {
        display: block;
    }
    main .container label {
        font-size: 15px;
    }
    main .container .price h1 {
        font-size: 15px;
    }
    footer i {
        font-size: 15px;
    }
}

@media screen and (max-width: 300px) {
    .subtitles {
        font-size: 13px;
    }
    .titles {
        font-size: 16px;
    }
}
